.container {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--Dark);
    padding: 50px;
}

.header {
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.details {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.details img {
    width: 300px;
    object-fit: cover;
}

.imageContainer {
    height: auto;
}

.borough {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--ITSemiBold);
} 

.disclaimer {
    width: 100%;
    font-family: var(--ITSemiBold);
    margin-top: 40px;
}

@media screen and (max-width: 899px) {
    .container {
        height: auto;
        /* padding: 20px; */
    }

    .details {
        /* width: 100%; */
        margin-bottom: 20px;
    }

    .detailsContainer {
        /* width: 100%; */
        flex-direction: column;
    }

    /* .disclaimer {
        margin-top: 10px;
        width: 100%;
    } */
}