:root {
  --semibold: 'DM Sans SemiBold'
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
  font-synthesis: none;
  text-decoration: none;
  
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}