.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--OffWhite);
}

.main {
    height: 150px;
    width: 100vw;
    padding: 20px;
    background-color: var(--OffWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    background-size: cover;
    object-fit: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 65%;
    width: 100%;
}

.secondary {
    height: auto;
    width: 100vw;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Light);
}

@media screen and (max-width: 830px) {
    .container {
        height: auto;
    }
}