.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--OffWhite);
}

.main {
    height: 150px;
    width: 100vw;
    padding: 20px;
    background-color: var(--OffWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    background-image: url('../../assets/images/A.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 65%;
    width: 100%;
}

.secondary {
    height: auto;
    width: 100vw;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--Light);
}

/* .message {
    background-color: #ffffff;
    color: #000000;
    height: 100%;
    width: 50%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid black;
} */

/* .message div {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
    font-size: 28px;
} */

/* .message h3 {
    letter-spacing: -1px;
} */



@media screen and (max-width: 800px) {
    
}