.menuContainer {
    display: none;
    transition: .3s ease-in-out;
}

.menuContainer.active {
    height: 70px;
    width: 100vw;
    background-color: #000000;
    position: fixed;
    top: 75px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.closeButton {
    display: none;
}

@media screen and (max-width: 529px) {
    .menuContainer.active {
        top: 0px;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .closeButton.active {
        display: inline;
        position: absolute;
        top: 30px;
        left: 15px;

        border: none;
        outline: none;
        background-color: transparent;
        color: var(--Mint);
        font-family: var(--DMSemiBold);
        font-size: medium;
        letter-spacing: -1px;
        cursor: pointer;
    }
}