.links {
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.links:hover {
    color: var(--Mint);
    transition: .3s ease-in-out;
}

.links:nth-child(7) {
    display: none;
}

@media screen and (max-width: 654px) {
    .links {
        margin: 10px 0px;
        font-size: 20px;
    }

    .links:nth-child(7) {
        display: inline;
    }
}