.menuContainer {
    display: none;
    transition: .3s ease-in-out;
    z-index: 1;
}

.menuContainer.active {
    height: 70px;
    width: 100vw;
    background-color: #000000;
    position: fixed;
    top: 75px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.closeButton {
    display: none;

}

@media screen and (max-width: 654px) {
    .menuContainer.active {
        background: rgb(74,47,247);
        background: radial-gradient(circle, rgba(74,47,247,1) 24%, rgba(212,212,255,1) 100%), url('https://grainy-gradients.vercel.app/noise.svg');
        top: 0px;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .closeButton.active {
        display: inline;
        position: absolute;
        top: 20px;
        left: 15px;

        border: none;
        outline: none;
        background-color: transparent;
        color: var(--Mint);
        font-family: var(--ITSemiBold);
        font-size: medium;
        letter-spacing: -1px;
        cursor: pointer;
    }
}