.links {
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.links:hover {
    color: var(--Mint);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 529px) {
    .links {
        margin: 10px 0px;
    }
}