.container {
    height: 35vh;
    width: 100vw;
    background-color: #000000;
    color: aliceblue;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

.main {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 31px;
    object-fit: contain;
    margin-right: 5px;
}

.title {
    font-family: var(--DMXBold);
    letter-spacing: -1.7px;
}

.contact {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.contact a:hover {
    color: var(--Mint);
    transition: .3s ease-in-out;
}

.email, .phone {
    margin-right: 30px;
}

.booking {
    position: absolute;
    right: 20px;
}

.booking h4 {
    padding: 10px;
    background-color: var(--BrightPurple);
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.booking h4:hover {
    background-color: var(--Mint);
    color: #000000;
    transition: .3s ease-in-out;
    cursor: pointer;
}

h4 i {
    margin-left: 5px;
}

.copyright {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .container {
        align-items: center;
    }

    .main {
        width: 100%;
        justify-content: center;
    }

    .booking {
        position: relative;
        right: inherit;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    .contact {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .main {
        margin-bottom: 10px;
    }

    .email, .phone {
        margin-right: 0;
        text-align: center;
    }
}