.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0px 20px;
}

.title {
    font-family: var(--DMXBold);
    letter-spacing: -1.8px;
    color: #000000;
}

.serviceTypes {
    margin: 10px;
    background-color: var(--LightPurple);
    padding: 10px;
    min-width: 320px;
    border: 1px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 4px;
}

.serviceTypes h3 {
    font-family: var(--DMXBold);
    letter-spacing: -1.3px;
}

.serviceOptions {
    margin-top: 5px;
}

.serviceContainer {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.disclaimer {
    width: 85%;
    padding: 10px;
}

@media screen and (max-width: 940px) {
    .container {
        height: auto;
        padding: 20px;
        align-items: center;
    }

    .serviceContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 899px) {
    .disclaimer {
        width: 100%;
    }
}