.container {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--Dark);
    padding: 50px;

}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.serviceTypes {
    margin: 0px 10px 10px 10px;
    padding: 10px 20px;
    min-width: 280px;
    border: 2px solid var(--Dark);
    border-radius: 10px;
}

.serviceTypes h3 {
    font-family: var(--ITSemiBold);
 }

.serviceContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.serviceOptions h4 {
    font-family: var(--ITSemiBold);
}

.disclaimer {
    width: 100%;
    margin-top: 10px;
    font-family: var(--ITSemiBold);
}

@media screen and (max-width: 940px) {
    .container {
        height: auto;
        align-items: center;
    }

    .serviceContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 899px) {
    .disclaimer {
        width: 100%;
    }
}