.container {
    height: auto;
    width: 100vw;
    background-color: var(--OffWhite);
    color: var(--Dark);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -999;
}

.container h3 {
    width: 100%;
    margin: 15px 0px;
    font-family: var(--ITSemiBold);
}

.formcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--OffWhite);
}

input {
    height: 30px;
    width: 500px;
    margin: 25px 0px;
    border: none;
    outline: none;
    background-color: #00000000;
    border-bottom: 2px solid var(--Dark);
    font-family: var(--ITSemiBold);
}

::placeholder {
  color: var(--Dark);
  font-size: 15px;
}

textarea {
    margin: 20px 0px;
    width: 100%;
    background-color: #00000000;
    border: 2px solid var(--Dark);
    font-family: var(--ITSemiBold);
    padding: 2px;
    border-radius: 10px;
}

button {
    background-color: #00000000;
    color: var(--Dark);
    border: 2px solid var(--Dark);
    outline: none;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--ITSemiBold);
    transition: .3s ease-in-out;
}

button:hover {
    background-color: var(--Mint);
    color: var(--Dark);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.error {
    height: auto;
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 192, 203, 0.729);
    color: red;
}

.success {
    height: auto;
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 255, 220, 0.729);
    color: green;
    margin-top: 20px;
    border-radius: 5px;
}

.attempt {
    height: auto;
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(193, 192, 255, 0.495);
    color: darkslateblue;
    margin-top: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 529px) {
    input {
        width: 100%;
    }
}

