.container {
    height: 100%;
    width: 100vw;
    padding: 50px;
    text-align: center;
}

.container h3 {
    font-family: var(--ITSemiBold);
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        border-top: none;
    }
}