.container {
    height: auto;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 50px;
    z-index: -1;
}

.title {
    margin-bottom: 50px;
    color: var(--Dark);
}

#addtl_service_title {
    margin-bottom: 0px;
}

.packageContainer {
    height: auto;
    /* width: 100%; */
    margin: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

.pricingContainer {
    height: auto;
    /* width: 100%; */
    margin: 0px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.service {
    height: 150px;
    width: 320px;
    padding: 10px;
    text-align: left;
    margin: 10px;
    border: 2px solid var(--Dark);
    /* border-radius: 10px; */
}
.service h3 {
    font-family: var(--ITSemiBold);
    height: 25px;
}

.service h4 {
    height: 70px;
    font-family: var(--ITSemiBold);
    color: var(--BrightPurple);
}

.service h2 {
    height: 36px; 
}

.prices {
    min-height: 100%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--Dark);
}

#disclaimer {
    color: var(--BrightPurple);
    font-family: var(--ITSemiBold);
    margin-bottom: 20px;
}